@page
@model RegisterModel
@{
}

@* <h1 class="mt-5">@ViewData["Title"]</h1>
 *@

 <style>
    #togglePasswordButton{
        position: relative;
        bottom: 44px;
        left: 370px;
    }

 </style>


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
@*             <h1>@ViewData["Title"]</h1>
 *@
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 >Criar Conta</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Nome" class="form-control" autocomplete="nome" aria-required="true" placeholder="nome" />
                            <label asp-for="Input.Nome">Nome</label>
                            <span asp-validation-for="Input.Nome" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Sobrenome" class="form-control" autocomplete="nome" aria-required="true" placeholder="nome" />
                            <label asp-for="Input.Sobrenome">Sobrenome</label>
                            <span asp-validation-for="Input.Sobrenome" class="text-danger"></span>
                        </div>
                    </div>
                    
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control input-field" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password">
                    <img id="togglePasswordButton" src="~/close-eye.png" style="width: 26px; height:26px; cursor:pointer;" />

                    <label asp-for="Input.Password">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>



                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirmar senha</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg text-light" style="background-color: #6941C6;">Criar conta</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const togglePasswordButton = document.getElementById("togglePasswordButton");
            const passwordInput = document.querySelector("input[type='password']");

            togglePasswordButton.addEventListener("click", function () {
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                } else {
                    passwordInput.type = "password";
                }
            });
        });
    </script>
}
