
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Universo Estudantil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniversoEstudantil.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" style="margin-left: 50px;" asp-area="" asp-controller="Home" asp-action="Index">UniversoEstudantil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-center my-ultag">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Categoria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Relevantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Recentes">Recentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Adicionar">Criar Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Users">Admin</a>
                        </li>
           
                    </ul>

                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                            <div class="nav-item" style="margin-right: 50px;">
                                <div class="nav-link search-box" style="background-color: #6941C6">
                                    <a href="@Url.Content("/Identity/Account/Register")" class="search-text">Inscrever-se</a>
                                </div>

                                <div class="nav-link search-box" style="background-color: #6941C6">
                                    <a class="search-text" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item" style="margin-right: 50px;">

                                <partial name="_LoginPartial.cshtml" />
                            </div>
                        }
                    }


                </div>
            </div>
        </nav>
    </header>
    <div>

        <main role="main" class="d-flex flex-column">
            @RenderBody()
        </main>
    </div>
@* 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - UniversoEstudantil - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>


   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
