@{

}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Content.css" />
</head>
<body>
    <div class="blog container-fluid">
        <div class="section">
            <div class="container">
                <div class="heading">
                    <div class="text-search">
                        <h2>
                            Blogs Recentes
                        </h2>
                        <div class="search-box">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.65667 0C7.94477 0.0425658 8.23287 0.0720344 8.51769 0.124423C9.90254 0.386366 11.0877 1.0314 12.0764 2.03333C12.9734 2.94686 13.5693 4.03065 13.8214 5.28798C14.1422 6.86946 13.9196 8.37564 13.1273 9.78358C12.8719 10.2354 12.5544 10.648 12.2532 11.0933C12.263 11.1031 12.2957 11.1424 12.3317 11.1752C13.6413 12.4652 14.9508 13.7553 16.2604 15.0421C16.5452 15.3204 16.5779 15.6184 16.3488 15.8476C16.1229 16.0735 15.8151 16.0473 15.5369 15.7755C14.2208 14.4789 12.9014 13.1823 11.5853 11.8857C11.5493 11.8497 11.51 11.8169 11.4707 11.7809C11.2579 11.925 11.0582 12.0723 10.8487 12.2066C9.67009 12.9498 8.38019 13.2969 6.99207 13.2445C5.16198 13.1757 3.60362 12.4718 2.33009 11.1555C1.37412 10.1634 0.794648 8.98138 0.578573 7.61927C0.545834 7.43264 0.526191 7.24928 0.5 7.06264C0.5 6.77123 0.5 6.47982 0.5 6.18841C0.509822 6.14257 0.522917 6.1 0.529465 6.05416C0.568751 5.79222 0.591668 5.527 0.647324 5.26833C0.909233 4.03065 1.48871 2.95668 2.37265 2.05298C3.36463 1.03795 4.55632 0.389641 5.95426 0.124423C6.22926 0.0720344 6.50754 0.0425658 6.78254 0C7.07392 0 7.36529 0 7.65667 0ZM1.53454 6.59115C1.54764 6.82362 1.54764 7.01681 1.57055 7.20671C1.7146 8.42148 2.17949 9.49544 3.02415 10.3861C4.49411 11.9282 6.30456 12.5078 8.37692 12.1051C10.2005 11.7514 11.5624 10.7004 12.371 9.01412C13.1862 7.31149 13.1371 5.59249 12.2237 3.94879C11.2907 2.26253 9.81414 1.30317 7.90221 1.06742C6.39295 0.880784 5.00484 1.25078 3.78696 2.17085C2.31699 3.28739 1.58365 4.79029 1.53454 6.59115Z" fill="white" />
                            </svg>
                            <a class="search-text">Procurar</a>

                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="blog-post-card">
                        <img class="image" src="https://img.imageboss.me/revista-cdn/cdn/39835/53833b32ed4f8e60e7d246ccdd2839aff2b72c4d.png?1651758069"/>
                        <div class="div">
                            <div class="heading-and-text">
                                <p class="author">Olivia Palito • 02 Out 2023</p>
                                <div class="heading-and-icon">
                                    <div class="text-wrapper">Como se preparar para fazer o Enem pela primeira vez?</div>
                                    <svg class="icon-wrap" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </div>
                                <p class="supporting-text">
                                    Na primeira vez fazendo o Enem, é fundamental o aluno conhecer o perfil da prova. Uma dica para o estudante é buscar no site do Inep as provas de anos anteriores e fazê-las.
                                </p>
                            </div>
                            <div class="categories">
                                <div class="badge">
                                    <div class="badge-base"><div class="text">Design</div></div>
                                </div>
                                <div class="badge">
                                    <div class="div-wrapper"><div class="text-2">Research</div></div>
                                </div>
                                <div class="badge">
                                    <div class="badge-base-2"><div class="text-3">Presentation</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="blog-post-card-2">
                            <img class="image-2" src="https://napratica.org.br/wp-content/uploads/2018/05/dicas-para-estudar-1.jpg" />
                            <div class="content-2">
                                <div class="heading-and-text">
                                    <p class="author">Carlos Baker • 1 Jan 2023</p>
                                    <div class="heading-and-text-2">
                                        <div class="heading-2">
                                            Conheça 10 dicas para estudar melhor, segundo a ciência
                                        </div>
                                        <p class="supporting-text">
                                            Estudar é mais uma das atividades em que focar na eficiência é mais benéfico do que na quantidade.
                                        </p>
                                    </div>
                                </div>
                                <div class="categories">
                                    <div class="badge">
                                        <div class="badge-base-3"><div class="text-4">Design</div></div>
                                    </div>
                                    <div class="badge">
                                        <div class="badge-base-2"><div class="text-3">Research</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-card-2">
                            <img class="image-3" src="https://classic.exame.com/wp-content/uploads/2016/11/nito100.jpg?quality=70&strip=info&w=1024" />
                            <div class="content-2">
                                <div class="heading-and-text">
                                    <p class="author">Lana Steiner • 1 Mar 2023</p>
                                    <div class="heading-and-text-2">
                                        <div class="heading-2">Como aprender inglês rápido: confira 13 dicas práticas</div>
                                        <p class="supporting-text">
                                            Eu estou aqui para te informar que não é assim tão complicado quanto pensa – desde que adote a estratégia certa...
                                        </p>
                                    </div>
                                </div>
                                <div class="categories">
                                    <div class="badge">
                                        <div class="badge-base-4"><div class="text-5">Design</div></div>
                                    </div>
                                    <div class="badge">
                                        <div class="badge-base-2"><div class="text-3">Research</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mb-5">
            <div class="container">
                <div class="content">
                    <div class="blog-post-card-3">
                        <img class="image-4" src="https://clickpetroleoegas.com.br/wp-content/uploads/2020/02/concursos-abertos2-1.png"/>
                        <div class="content-2">
                            <div class="heading-and-text">
                                <p class="author"> Professor Homer • 19 Nov 2023</p>
                                <div class="heading-and-icon">
                                    <p class="text-wrapper">
                                        201 concursos abertos com salário de até R$25.851,00
                                    </p>
                                    <svg class="icon-wrap" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 21L17 11M17 11H7M17 11V21" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <p class="supporting-text">
                                    Hoje estão abertas mais de 50.030 vagas em concursos abertos, com edital publicado e inscrições abertas em todo o país! As remunerações podem chegar a até R$ 30.617,25 e você pode ter sua vida transformada com a conquista de uma dessas vagas.
                                </p>
                            </div>
                            <div class="categories">
                                <div class="badge">
                                    <div class="badge-base"><div class="text">Design</div></div>
                                </div>
                                <div class="badge">
                                    <div class="badge-base-2"><div class="text-3">Interface</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section container mt-3">
             <div class="box">
                <div class="trending-news">
                <div class="overlap">
                    <div class="rectangle"></div>
                    <div class="post">
                        <p class="text-wrapper">Descubra 5 sites de cursos GRATUITOS</p>
                        <p class="div">Race98 - 03 Jun 2023</p>
                        <p class="p">
                                Estude de graça. Você não paga nada para fazer os cursos.
                            </p>
                            <img class="img" src="https://tm.ibxk.com.br/2012/5/materias/2350514145525.jpg" />
                    </div>
                    <div class="post-2">
                            <p class="text-wrapper"> 2 Técnicas de Estudos com maior Evidência Científica </p>
                        <p class="div">Red QTAFT7F - 03 Aug 2023</p>
                        <p class="p">
                           Passe nas provas usando essas técnicas...
                        </p>
                            <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQOgwSqhSM1CAwx1R19QPPEvvt4dYYgQlPOric8HTQiC2dR-Kde1vdnkxn2GLooQKtu6U&usqp=CAU" />
                    </div>
                    <div class="post-3">
                        <p class="text-wrapper">O que existe do lado de fora do Universo?</p>
                        <p class="div">King.F - 19 Set 2021</p>
                        <p class="p">
                           Existe isso no lado de fora do Universo...
                        </p>
                            <img class="img" src="https://hypescience.com/wp-content/uploads/2013/06/universo-expandindo.jpg" />
                    </div>
                    <div class="text-wrapper-2">Blogs Relevantes</div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="rectangle-2"></div>
                            <div class="frame">
                                <div class="text-wrapper-3">Novidades</div>
                           </div>
                            <p class="DISCOVER-THE-MEMBER">Enem 2023: locais de prova são divulgados. Veja como consultar</p>
                            <p class="text-wrapper-4">Debits - 22 Out 2023</p>
                           </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="section">
            <div class="container-2">
                <div class="heading-and-content">
                    <div class="heading mt-5">Todos os Blogs</div>
                    <div class="content-3">
                        <div class="row">
                            <div class="blog-post-card-4">
                                <img class="image-5" src="https://i.pinimg.com/750x/fa/8b/e7/fa8be7e4241e0305a55147969e785173.jpg" />
                                <div class="div">
                                    <div class="heading-and-text">
                                        <p class="author">Alec Whitten • 1 Jan 2023</p>
                                        <div class="heading-and-icon">
                                            <div class="text-wrapper">Queria ter aprendido isso antes...</div>
                                            <img class="icon-wrap" src="https://www.magneticferret.com/static/images/cbub/cbub_contender_image/3/2358/19404.jpg" />
                                        </div>
                                        <p class="supporting-text">
                                           Como eu queria ter aprendido isso antes. Iria economizar um tempão
                                        </p>
                                    </div>
                                    <div class="categories">
                                        <div class="badge">
                                            <div class="badge-base"><div class="text">Leadership</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="badge-base-5"><div class="text-6">Management</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-post-card-4">
                                <img class="image-6" src="https://media.istockphoto.com/id/155380716/photo/commercial-jet-flying-over-clouds.jpg?b=1&s=170667a&w=0&k=20&c=LgrMLraZ84dLKoeI7WYsq9CcwKA9M1ERtRmg4rA1c1E=" />
                                <div class="div">
                                    <div class="heading-and-text">
                                        <p class="author">Demi WIlkinson • 1 Jan 2023</p>
                                        <div class="heading-and-icon">
                                            <div class="text-wrapper">Como fazer faculdade no exterior</div>
                                            <img class="icon-wrap" src="https://www.magneticferret.com/static/images/cbub/cbub_contender_image/3/2358/19404.jpg" />
                                        </div>
                                        <p class="supporting-text">
                                            Estudar fora é uma experiencia legal.
                                        </p>
                                    </div>
                                    <div class="categories">
                                        <div class="badge">
                                            <div class="badge-base-3"><div class="text-4">Product</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="div-wrapper"><div class="text-2">Research</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="badge-base-6"><div class="text-7">Frameworks</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-post-card-4">
                                <img class="image-7" src="https://www.creativitymesh.com/wp-content/uploads/2021/10/characteristics-of-a-know-it-all-person.png" />
                                <div class="div">
                                    <div class="heading-and-text">
                                        <p class="author">Candice Wu • 1 Jan 2023</p>
                                        <div class="heading-and-icon">
                                            <div class="text-wrapper">Todo mundo devia aber como fazer isso</div>
                                            <img class="icon-wrap" src="https://www.magneticferret.com/static/images/cbub/cbub_contender_image/3/2358/19404.jpg" />
                                        </div>
                                        <p class="supporting-text">
                                            Introduction to Wireframing and its Principles. Learn from the best in the industry.
                                        </p>
                                    </div>
                                    <div class="categories">
                                        <div class="badge">
                                            <div class="badge-base"><div class="text">Design</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="div-wrapper"><div class="text-2">Research</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="blog-post-card-4">
                                <img class="image-8" src="https://s2.dmcdn.net/v/C7nC31MGEEN3yaBXX/x360" />
                                <div class="div">
                                    <div class="heading-and-text">
                                        <p class="author">Natali Craig • 1 Jan 2023</p>
                                        <div class="heading-and-icon">
                                            <p class="text-wrapper">Como NÃO reprovar de ano?</p>
                                            <img class="icon-wrap" src="https://www.magneticferret.com/static/images/cbub/cbub_contender_image/3/2358/19404.jpg" />
                                        </div>
                                        <p class="supporting-text">
                                            Collaboration can make our teams stronger, and our individual designs better.
                                        </p>
                                    </div>
                                    <div class="categories">
                                        <div class="badge">
                                            <div class="badge-base"><div class="text">Design</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="div-wrapper"><div class="text-2">Research</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-post-card-4">
                                <img class="image-9" src="https://live.staticflickr.com/3187/2773579463_ebf0faf307_c.jpg" />
                                <div class="div">
                                    <div class="heading-and-text">
                                        <p class="author">Drew Cano • 1 Jan 2023</p>
                                        <div class="heading-and-icon">
                                            <p class="text-wrapper">Comandos básicos de um computador</p>
                                            <img class="icon-wrap" src="https://www.magneticferret.com/static/images/cbub/cbub_contender_image/3/2358/19404.jpg" />
                                        </div>
                                        <p class="supporting-text">
                                            JavaScript frameworks make development easy with extensive features and functionalities.
                                        </p>
                                    </div>
                                    <div class="categories">
                                        <div class="badge">
                                            <div class="badge-base-4"><div class="text-5">Software Development</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="badge-base-2"><div class="text-3">Tools</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="badge-base-7"><div class="text-8">SaaS</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-post-card-4">
                                <img class="image-10" src="https://i.ytimg.com/vi/2BT7_owW2sU/hqdefault.jpg" />
                                <div class="div">
                                    <div class="heading-and-text">
                                        <p class="author">Orlando Diggs • 1 Jan 2023</p>
                                        <div class="heading-and-icon">
                                            <p class="text-wrapper"> Como dominar a matemática?</p>
                                            <img class="icon-wrap" src="https://www.magneticferret.com/static/images/cbub/cbub_contender_image/3/2358/19404.jpg" />
                                        </div>
                                        <p class="supporting-text">
                                            Starting a community doesn’t need to be complicated, but how do you get started?
                                        </p>
                                    </div>
                                    <div class="categories">
                                        <div class="badge">
                                            <div class="badge-base"><div class="text">Podcasts</div></div>
                                        </div>
                                        <div class="badge">
                                            <div class="badge-base-5"><div class="text-6">Customer Success</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <div class="button">
                        <button class="button-base">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.8334 10.4998H4.16675M4.16675 10.4998L10.0001 16.3332M4.16675 10.4998L10.0001 4.6665" stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="text-9 mt-1">Anterior</div>
                        </button>
                    </div>
                    <div class="pagination-numbers">
                        <div class="pagination-number">
                            <div class="number-wrapper"><div class="number">1</div></div>
                        </div>
                        <div class="content-wrapper">
                            <div class="number-wrapper"><div class="number-2">2</div></div>
                        </div>
                        <div class="content-wrapper">
                            <div class="number-wrapper"><div class="number-2">3</div></div>
                        </div>
                        <div class="content-wrapper">
                            <div class="number-wrapper"><div class="number-2">...</div></div>
                        </div>
                        <div class="content-wrapper">
                            <div class="number-wrapper"><div class="number-2">8</div></div>
                        </div>
                        <div class="content-wrapper">
                            <div class="number-wrapper"><div class="number-2">9</div></div>
                        </div>
                        <div class="content-wrapper">
                            <div class="number-wrapper"><div class="number-2">10</div></div>
                        </div>
                    </div>
                    <div class="button">
                        <button class="button-base">
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.16663 7.49984H12.8333M12.8333 7.49984L6.99996 1.6665M12.8333 7.49984L6.99996 13.3332" stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="text-9 mt-1">Próximo</div>


                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


