@page
 

<div class="d-flex mt-4 justify-content-center">
    <div>
        <div class="d-flex gap-3">
            <h1>Acesso Negado</h1>
            <img src="~/warning.png" width="50px" height="50px" />

        </div>
        <h3 class="mb-2 mt-3">Vixe, parece que você não é importante o suficiente. Desculpe.</h3>

        <p class="lead">Voce não tem autorização para acessar esta página.</p>
    </div>
</div>